In [3]:
# Import libraries
import os
from tqdm import tqdm
import pandas as pd

# Redirecting to the directory
# os.chdir(os.path.join('.\ECON4999X'))
CLEANED_DATA_DIR = os.path.normpath(r'.\Cleaned_Data')
DA_DATA_DIR = os.path.normpath(r'.\da_working_files')
print(os.listdir(CLEANED_DATA_DIR))

['capitaliq_output.xlsx', 'df_exchange_info_master.xlsx', 'df_exchange_mapping.csv', 'df_ghg_ts_long_form.csv', 'df_ghg_ts_long_form_selected.csv', 'df_ghg_ts_master.csv', 'df_info_master.csv', 'df_power_ts_long_form.csv', 'df_power_ts_long_form_selected.csv', 'df_power_ts_master.csv', 'df_selected_comps.csv', 'hardcode_data.xlsx', '~$capitaliq_output.xlsx', '~$df_exchange_info_master.xlsx']

### Does higher carbon price reduce firmsâ€™ carbon emissions?
#### Emission Analysis

In [14]:
# Reading dataframe
df_ghg = pd.read_csv(os.path.join(CLEANED_DATA_DIR, 'df_ghg_ts_long_form_selected.csv'))
df_ghg.head()

# We want to make a dataframe that only contains entity with long enough history
entity_history_requirement = 15
df_ghg_long_hist_comps = df_ghg.groupby('entity_id').filter(lambda x: len(x['year']) >= entity_history_requirement)

In [59]:
# Create a column called the total carbon emission
df_ghg_long_hist_comps['total_carbon_emission'] = df_ghg_long_hist_comps[['absolute_ghg_scope_1', 'absolute_ghg_scope_2']].sum(axis=1)

NameError: name 'df_ghg_long_hist_comps' is not defined

In [24]:
file_name = 'df_ghg_ts_long_form_selected_long_hist.csv'
df_ghg_long_hist_comps.to_csv(os.path.join(DA_DATA_DIR, file_name), index=False)

### How firms reduce the carbon emissions, by developing in-house green technology or cutting their output?
#### Only those companies shows reduction in carbon emission

In [48]:
# Getting only the firms which show reduction in carbon emission
df_ghg = pd.read_csv(os.path.join(CLEANED_DATA_DIR, 'df_ghg_ts_long_form_selected.csv'))
df_ghg.head()

df_ghg_reduce_carbon_emission = df_ghg.groupby('entity_id').filter(lambda x: x.iloc[0]['total_carbon_emission'] > x.iloc[-1]['total_carbon_emission'])

In [49]:
# Merging for their respective power consumption category
df_power = pd.read_csv(os.path.join(CLEANED_DATA_DIR, 'df_power_ts_long_form_selected.csv'))
df_power.head()

,entity_id,year,biomass,coal,geothermal,hydroelectric,landfill_gas,liquid_nat_gas,nat_gas,nuclear,petroleum_oil,solar,wave_and_tidal,wind
0,5001248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4147764,2012.0,450.0,NaN,NaN,1828.0,NaN,NaN,28.0,NaN,NaN,697.0,NaN,17376.0
2,4147764,2013.0,454.0,NaN,NaN,2882.0,NaN,NaN,28.0,NaN,NaN,641.0,NaN,18399.0
3,4147764,2014.0,405.0,NaN,NaN,2933.0,NaN,NaN,1.0,NaN,NaN,629.0,NaN,17482.0
4,4147764,2015.0,408.0,NaN,NaN,2197.0,NaN,NaN,NaN,NaN,NaN,849.0,NaN,17421.0

In [50]:
df_ghg_reduce_carbon_emission = df_ghg_reduce_carbon_emission.merge(df_power, on=['entity_id', 'year'], how='left')

In [2]:
# Define the green tech power generation
green_tech = ['biomass', 'geothermal', 'hydroelectric', 'landfill_gas',
            'nuclear','solar', 'wave_and_tidal', 'wind']
fossil_fuel = ['nat_gas', 'petroleum_oil', 'liquid_nat_gas', 'coal']

In [1]:
df_ghg_reduce_carbon_emission['green_tech_power'] = df_ghg_reduce_carbon_emission[green_tech].sum(axis=1)
df_ghg_reduce_carbon_emission['fossil_fuel_power'] = df_ghg_reduce_carbon_emission[fossil_fuel].sum(axis=1)
df_ghg_reduce_carbon_emission['total_power'] = df_ghg_reduce_carbon_emission['fossil_fuel_power']+df_ghg_reduce_carbon_emission['green_tech_power']
df_ghg_reduce_carbon_emission['green_tech_rr'] = df_ghg_reduce_carbon_emission['green_tech_power'] / df_ghg_reduce_carbon_emission['total_power']
df_ghg_reduce_carbon_emission

NameError: name 'df_ghg_reduce_carbon_emission' is not defined

In [57]:
df_ghg_reduce_carbon_emission = df_ghg_reduce_carbon_emission.replace(0, float('nan'))

In [58]:
file_name = 'df_ghg_ts_long_form_reduced_carbon_emission.csv'
df_ghg_reduce_carbon_emission.to_csv(os.path.join(DA_DATA_DIR, file_name), index=False)

#### Loosen the assumption
- Including all the companies in Europe, with dummy variable of is_reduced_ce

In [69]:
df_ghg = pd.read_csv(os.path.join(CLEANED_DATA_DIR, 'df_ghg_ts_long_form_selected.csv'))
# Merging for their respective power consumption category
df_power = pd.read_csv(os.path.join(CLEANED_DATA_DIR, 'df_power_ts_long_form_selected.csv'))

In [70]:
df_panel_master = df_ghg.merge(df_power, on=['entity_id', 'year'], how='left')
df_panel_master

,entity_id,year,absolute_ghg_scope_1,absolute_ghg_scope_2,intensity_ghg_scope_1,intensity_ghg_scope_2,total_carbon_emission,biomass,coal,geothermal,hydroelectric,landfill_gas,liquid_nat_gas,nat_gas,nuclear,petroleum_oil,solar,wave_and_tidal,wind
0,5001248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4147764,2004.0,1.360592e+06,105613.412500,247.430227,19.206315,1.466205e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4147764,2005.0,1.289793e+06,100051.889800,225.311038,17.477839,1.389845e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4147764,2006.0,1.670383e+06,126135.647900,201.841385,15.241652,1.796518e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4147764,2007.0,1.586784e+06,35446.030000,136.679404,3.053184,1.622230e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,4539460,2016.0,1.161410e+07,903.453175,16951.953960,1.318682,1.161500e+07,78.00,9192.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290,4539460,2017.0,1.099803e+07,1160.731868,17021.534380,1.796453,1.099919e+07,36.67,8353.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291,4539460,2018.0,7.332719e+06,1057.278150,11495.301030,1.657466,7.333776e+06,40.22,6009.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
292,4539460,2019.0,4.226335e+06,968.032085,6098.313233,1.396804,4.227303e+06,63.82,3336.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
293,4539460,2020.0,5.562584e+06,624.116000,10699.721000,1.200000,5.563208e+06,65.88,2594.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
df_panel_master['green_tech_power'] = df_panel_master[green_tech].sum(axis=1)
df_panel_master['fossil_fuel_power'] = df_panel_master[fossil_fuel].sum(axis=1)
df_panel_master['total_power'] = df_panel_master['fossil_fuel_power']+df_panel_master['green_tech_power']
df_panel_master['green_tech_rr'] = df_panel_master['green_tech_power'] / df_panel_master['total_power']
df_panel_master

,entity_id,year,absolute_ghg_scope_1,absolute_ghg_scope_2,intensity_ghg_scope_1,intensity_ghg_scope_2,total_carbon_emission,biomass,coal,geothermal,...,nat_gas,nuclear,petroleum_oil,solar,wave_and_tidal,wind,green_tech_power,fossil_fuel_power,total_power,green_tech_rr
0,5001248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.0,NaN
1,4147764,2004.0,1.360592e+06,105613.412500,247.430227,19.206315,1.466205e+06,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.0,NaN
2,4147764,2005.0,1.289793e+06,100051.889800,225.311038,17.477839,1.389845e+06,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.0,NaN
3,4147764,2006.0,1.670383e+06,126135.647900,201.841385,15.241652,1.796518e+06,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.0,NaN
4,4147764,2007.0,1.586784e+06,35446.030000,136.679404,3.053184,1.622230e+06,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,4539460,2016.0,1.161410e+07,903.453175,16951.953960,1.318682,1.161500e+07,78.00,9192.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,78.00,9192.00,9270.0,0.008414
290,4539460,2017.0,1.099803e+07,1160.731868,17021.534380,1.796453,1.099919e+07,36.67,8353.33,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,36.67,8353.33,8390.0,0.004371
291,4539460,2018.0,7.332719e+06,1057.278150,11495.301030,1.657466,7.333776e+06,40.22,6009.78,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,40.22,6009.78,6050.0,0.006648
292,4539460,2019.0,4.226335e+06,968.032085,6098.313233,1.396804,4.227303e+06,63.82,3336.18,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,63.82,3336.18,3400.0,0.018771
293,4539460,2020.0,5.562584e+06,624.116000,10699.721000,1.200000,5.563208e+06,65.88,2594.12,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,65.88,2594.12,2660.0,0.024767

In [77]:
tickers_reduced_ce = df_ghg_reduce_carbon_emission.entity_id.unique()
tickers_long_hist = df_ghg_long_hist_comps.entity_id.unique()

In [78]:
df_panel_master['is_reduced_ce'] = df_panel_master['entity_id'].isin(tickers_reduced_ce)
df_panel_master['is_long_hist'] = df_panel_master['entity_id'].isin(tickers_long_hist)

In [79]:
df_panel_master

,entity_id,year,absolute_ghg_scope_1,absolute_ghg_scope_2,intensity_ghg_scope_1,intensity_ghg_scope_2,total_carbon_emission,biomass,coal,geothermal,...,petroleum_oil,solar,wave_and_tidal,wind,green_tech_power,fossil_fuel_power,total_power,green_tech_rr,is_reduced_ce,is_long_hist
0,5001248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.00,0.00,0.0,NaN,False,False
1,4147764,2004.0,1.360592e+06,105613.412500,247.430227,19.206315,1.466205e+06,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.00,0.00,0.0,NaN,True,True
2,4147764,2005.0,1.289793e+06,100051.889800,225.311038,17.477839,1.389845e+06,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.00,0.00,0.0,NaN,True,True
3,4147764,2006.0,1.670383e+06,126135.647900,201.841385,15.241652,1.796518e+06,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.00,0.00,0.0,NaN,True,True
4,4147764,2007.0,1.586784e+06,35446.030000,136.679404,3.053184,1.622230e+06,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.00,0.00,0.0,NaN,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,4539460,2016.0,1.161410e+07,903.453175,16951.953960,1.318682,1.161500e+07,78.00,9192.00,NaN,...,NaN,NaN,NaN,NaN,78.00,9192.00,9270.0,0.008414,True,False
290,4539460,2017.0,1.099803e+07,1160.731868,17021.534380,1.796453,1.099919e+07,36.67,8353.33,NaN,...,NaN,NaN,NaN,NaN,36.67,8353.33,8390.0,0.004371,True,False
291,4539460,2018.0,7.332719e+06,1057.278150,11495.301030,1.657466,7.333776e+06,40.22,6009.78,NaN,...,NaN,NaN,NaN,NaN,40.22,6009.78,6050.0,0.006648,True,False
292,4539460,2019.0,4.226335e+06,968.032085,6098.313233,1.396804,4.227303e+06,63.82,3336.18,NaN,...,NaN,NaN,NaN,NaN,63.82,3336.18,3400.0,0.018771,True,False
293,4539460,2020.0,5.562584e+06,624.116000,10699.721000,1.200000,5.563208e+06,65.88,2594.12,NaN,...,NaN,NaN,NaN,NaN,65.88,2594.12,2660.0,0.024767,True,False

In [82]:
df_panel_master = df_panel_master.replace(0, float('nan'))
file_name = 'df_panel_master.csv'
df_panel_master.to_csv(os.path.join(DA_DATA_DIR, file_name), index=False)

### Additional data cleansing

In [9]:
# Load dataframe
file_name = 'df_ghg_ts_long_form_all_comps.csv'
df_all_comps = pd.read_csv(os.path.join(DA_DATA_DIR, file_name))

file_name = 'df_power_ts_long_form.csv'
df_power = pd.read_csv(os.path.join(CLEANED_DATA_DIR, file_name))

In [14]:
df_all_comps = df_all_comps.merge(df_power, on=['entity_id', 'year'], how='left')

In [15]:
df_all_comps['green_tech_power'] = df_all_comps[green_tech].sum(axis=1)
df_all_comps['fossil_fuel_power'] = df_all_comps[fossil_fuel].sum(axis=1)
df_all_comps['total_power'] = df_all_comps['fossil_fuel_power']+df_all_comps['green_tech_power']
df_all_comps['green_tech_rr'] = df_all_comps['green_tech_power'] / df_all_comps['total_power']
df_all_comps.head()

,entity_id,year,absolute_ghg_scope_1,absolute_ghg_scope_2,intensity_ghg_scope_1,intensity_ghg_scope_2,exchange,is_eu,country,biomass,...,nat_gas,nuclear,petroleum_oil,solar,wave_and_tidal,wind,green_tech_power,fossil_fuel_power,total_power,green_tech_rr
0,1031123,2004,6094485.383,1582.414375,3167.529750,0.822439,NYSE,NaN,United States,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN
1,1031123,2005,5547607.744,1891.407577,2503.925747,0.853691,NYSE,NaN,United States,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN
2,1031123,2006,6262064.482,1434.515028,2544.620441,0.582922,NYSE,NaN,United States,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN
3,1031123,2007,5752387.565,1392.225544,2267.907084,0.548892,NYSE,NaN,United States,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN
4,1031123,2008,5278201.565,1607.810634,1639.743009,0.499488,NYSE,NaN,United States,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN

In [23]:
file_name = 'df_cp.csv'
df_cp = pd.read_csv(os.path.join(DA_DATA_DIR, file_name))

In [26]:
df_all_comps = df_all_comps.merge(df_cp, on=['year'], how='left').drop_duplicates()

In [42]:
file_name = 'df_exchange_info_master.xlsx'
df_exchange_info_master = pd.read_excel(os.path.join(CLEANED_DATA_DIR, file_name), sheet_name=None)

In [44]:
df_exchange_info_master.keys()

dict_keys(['df_info_master', 'df_exchange_info_master', 'Sheet4'])

In [51]:
df_ex_stk_map = df_exchange_info_master['df_info_master'][['Entity ID', 'Exchange']].drop(0).merge(df_exchange_info_master['df_exchange_info_master'][['Exchange ticker', 'Region']],
            left_on='Exchange', right_on='Exchange ticker', how='left')

In [57]:
df_all_comps = df_all_comps.merge(df_ex_stk_map, left_on='entity_id', right_on='Entity ID', how='left').drop_duplicates()

In [56]:
# export the dataframe
output_file_name = 'df_all_comps_with_power.csv'
df_all_comps.to_csv(os.path.join(DA_DATA_DIR, output_file_name), index=False)

In [58]:
df_all_comps

,entity_id,year,absolute_ghg_scope_1,absolute_ghg_scope_2,intensity_ghg_scope_1,intensity_ghg_scope_2,exchange,is_eu,country,biomass,...,green_tech_rr,cp_avg_price,Entity ID_x,Exchange_x,Exchange ticker_x,Region_x,Entity ID_y,Exchange_y,Exchange ticker_y,Region_y
0,1031123,2004,6.094485e+06,1582.414375,3167.529750,0.822439,NYSE,NaN,United States,NaN,...,NaN,NaN,1031123,NYSE,NYSE,United States,1031123,NYSE,NYSE,United States
6,1031123,2005,5.547608e+06,1891.407577,2503.925747,0.853691,NYSE,NaN,United States,NaN,...,NaN,21.436486,1031123,NYSE,NYSE,United States,1031123,NYSE,NYSE,United States
12,1031123,2006,6.262064e+06,1434.515028,2544.620441,0.582922,NYSE,NaN,United States,NaN,...,NaN,17.389423,1031123,NYSE,NYSE,United States,1031123,NYSE,NYSE,United States
18,1031123,2007,5.752388e+06,1392.225544,2267.907084,0.548892,NYSE,NaN,United States,NaN,...,NaN,1.519423,1031123,NYSE,NYSE,United States,1031123,NYSE,NYSE,United States
24,1031123,2008,5.278202e+06,1607.810634,1639.743009,0.499488,NYSE,NaN,United States,NaN,...,NaN,22.386731,1031123,NYSE,NYSE,United States,1031123,NYSE,NYSE,United States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5539,9991443,2020,1.164779e+05,547.711000,260.177000,1.223000,OB,NaN,Norway,NaN,...,NaN,24.724038,9991443,OB,OB,Norway,9991443,OB,OB,Norway
5540,10421857,2016,4.615512e+04,120.874412,167.828007,0.439520,ATSE,True,Greece,NaN,...,NaN,5.407170,10421857,ATSE,ATSE,Greece,10421857,ATSE,ATSE,Greece
5541,10421857,2017,5.176191e+04,146.548195,168.034624,0.475739,ATSE,True,Greece,NaN,...,NaN,5.860000,10421857,ATSE,ATSE,Greece,10421857,ATSE,ATSE,Greece
5542,10421857,2018,7.929564e+03,23.813520,156.086722,0.468749,ATSE,True,Greece,NaN,...,NaN,16.076346,10421857,ATSE,ATSE,Greece,10421857,ATSE,ATSE,Greece
5543,10421857,2020,7.429080e+03,20.395000,150.464000,0.413000,ATSE,True,Greece,NaN,...,NaN,24.724038,10421857,ATSE,ATSE,Greece,10421857,ATSE,ATSE,Greece